/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --background: #00092f;
  --background-secondary: #020e3a;
  --surface: #091453;
  --surface-elevated: #0b1d6c;

  --primary: #025ae5;
  --player-x: #18d4fa;
  --player-x-glow: #71e1f5;
  --player-o: #f8977d;
  --accent-purple: #6d45c7;

  --border: #3c5895;
  --text-primary: #fcfcfd;
  --text-secondary: #d3dae7;
}

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
    color: var(--text-primary);
    /* background:
        radial-gradient(circle at 50% 45%, #0d1a59 0%, transparent 45%),
        linear-gradient(135deg, #020e3a 0%, #00092f 55%, #02134c 100%); */
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "Ranchers", sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 0;
    h1 {
        font-weight: 900;
        font-style: normal;
        font-size: 3rem;
    }

    span:nth-child(1) {
        color: var(--player-x);
    }

    span:nth-child(3) {
        color: var(--player-o);
    }
}

.leader_board {
    border: 1px solid var(--border);
    border-radius: 1rem;
    min-height: 100px;
    min-width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    /* padding: 0.7rem 2.5rem;
    background: var(--background-secondary);
    background: linear-gradient(0deg, rgba(2, 14, 58, 1) 0%, rgba(9, 20, 83, 1) 100%); */

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.15rem;
        padding: 0.75rem 1.5rem;
        text-align: center;
    }

    div:nth-child(2) {
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        padding: 0 2.5rem;
    }

    span > img {
        display: inline-block;
        max-width: 1.2rem;
        max-height: 1.2rem;
    }

    span.x_score {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--player-x);
    }

    span.o_score {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--player-o);
    }

    span.draw_score {
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--text-secondary);
    }

}

.turn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid #3C5895;
    border-radius: 5rem;
    padding: .5rem 2rem;
    min-width: 360px;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1rem;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    min-height: 120px;
    border: 1px solid #3C5895;
    background-color: #020E3A;
    color: var(--text-primary);
    &:hover {
      background-color: #00092F;
    }
    &:nth-child(1) {
        border-top-left-radius: 1rem;
    }
    &:nth-child(3) {
        border-top-right-radius: 1rem;
    }
    &:nth-child(7) {
        border-bottom-left-radius: 1rem;
    }
     &:nth-child(9) {
        border-bottom-right-radius: 1rem;
    }
}

.actions {
    padding-top: 1rem;
    button {
        width: 100%;
        height: auto;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        color: #FCFCFD;
        background-color: #025AE5;
    }
}